* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header--dark {
    align-items: stretch;
    background-color: rgb(51, 57, 64);
    color: rgb(236, 236, 236);
    display: flex;    
    padding: 0 1.5rem;
}

.header__title {
    flex-grow: 2;
    font-size: 1.25rem;
    line-height: 1.25rem;
}

.fa-bars {
    flex-grow: 6;
    margin: 1.2rem;
}

.header__search {
    flex-grow: 3;
    text-align: right;
}

.search__input {
    border-radius: 4px 0 0 4px;
    font-size: 1.2rem;
    margin-right: 0;
    margin-top: 0.7rem;
    padding: 0.375rem 0.75rem;
    transition: border 0.15s ease-in-out;
}

.search__input:focus {
    border: 2px solid rgb(128, 189, 255);
    outline: none;
}

.search__btn {
    background-color: rgb(0, 123, 255);
    border-radius: 0 4px 4px 0;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-left: 0;
    padding: 0.5rem;
}

.fa-user {
    flex-grow: 1;
    margin: 1.2rem;
    text-align: center;
}

.fa-search,
.fa-tachometer {
    color: rgb(255, 255, 255);
    height: 1.2rem;
}

main {
    display: flex;
    flex-direction: row;
}

aside {
    flex: 20%;
}

ul {
    margin: 0;    
}

li {
    color: rgb(151, 151, 151);
    line-height: 4rem; 
    list-style-type: none;
}

a {
    align-items: center;
    color: rgb(151, 151, 151);
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

li i {
    flex-grow: 1;
    margin: 1.5rem 0;
}

span {
    flex-grow: 5;
}

.nav__li--white {
    color: rgb(255, 255, 255);
}

.nav__li--uppercase {
    text-transform: uppercase;
}

.nav__li--none {
    display: none;
}

@media only screen and (min-width: 700px) {
    .nav__li--none {
        display: inline-block;
    }
}

.nyilacska {
    float: right;
}

span {
    
}

.content {
    flex: 80%;
    margin: 2rem;
}

.main__nav {
    background-color: rgb(33, 37, 41);
}

.main__breadcrumb {
    background-color: rgb(233, 236, 239);
    border-radius: 0.25rem;
    padding: 1rem 1.5rem;
}

.main__cards {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 700px) {
    .main__cards {
        flex-direction: row;
    }
}

.main__card--blue {
    background-color: rgb(0, 123, 255);
    border-radius: 0.25rem;
    flex: 25%;
    margin: 2rem 0 1rem 0;
    transition: background-color 0.3s ease-in-out;
}

.main__card--yellow {
    background-color: rgb(255, 193, 7);
    border-radius: 0.25rem;
    flex: 25%;
    margin: 2rem 0 1rem 0;
    transition: background-color 0.3s ease-in-out;
}

.main__card--green {
    background-color: rgb(40, 167, 69);
    border-radius: 0.25rem;
    flex: 25%;
    margin: 2rem 0 1rem 0;
    transition: background-color 0.3s ease-in-out;
}

@media only screen and (min-width: 700px) {
    .main__card--blue {
        margin: 2rem 2rem 1rem 0;
    }

    .main__card--yellow {
        margin: 2rem 2rem 1rem 0;
    }

    .main__card--green {
        margin: 2rem 2rem 1rem 0;
    }

}

.main__card--red {
    background-color: rgb(220, 53, 69);
    border-radius: 0.25rem;
    flex: 25%;
    margin: 2rem 0 1rem 0;
    transition: background-color 0.3s ease-in-out;
}

.card__top {
    color: rgb(255, 255, 255);
    padding: 2rem;

}

.card__bottom {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0 0 0.25rem 0.25rem;
    color: rgb(255, 255, 255);
    padding: 1rem 2rem;
}